html {
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Playfair Display", "Arial", "Tahoma", serif;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/*MAIN MENU*/
.site-navigation {
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: center;
    list-style: none;
}

.page-header {
    padding: 72px 0 96px 0;
}

.site-navigation li {
    display: inline-block;
}

.site-navigation li a {
    display: block;
    padding: 0 52px 0 52px;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
}

.site-navigation li a:hover,
.site-navigation li a:focus {
    color: #03a9f4;
}

/*MAIN PAGE CONTAINER*/
.container {
    width: 900px;
    margin: 0 auto;
}

/*HIDDEN HEADER*/
.visually-hidden:not(:focus):not(:active),
input [type="checkbox"].visually-hidden {

    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*ARTICLES SECTION*/
.article-container {
    font-size: 0;
    padding-bottom: 70px;
}

/*PAGE ARTICLE CONTENT*/
.article-list {
    margin: 0;
    padding: 0;
}

.page-article {
    display: inline-block;
    width: 420px;
    margin: 0;
    margin-bottom: 134px;
}

.page-article:not(:nth-child(even)) {
    margin-right: 60px;
}

.page-article:nth-child(n+5) {
    margin-bottom: 52px;
}

.article-image {
    margin-bottom: 30px;
}
.page-article .caption {
    margin: 0;
    margin-bottom: 24px;
    font-family: "Ubuntu", "Arial", "Tahoma", sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #b4ad9e;
    text-transform: uppercase;
}

.article-title {
    margin: 0;
    margin-bottom: 28px;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: left;
}

.article-content {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
}


/* LOAD MORE BUTTON*/
.loading-button {
    display: block;
    margin: 0 auto;
    padding: 18px 32px;
    font-family: "Playfair Display", "Arial", "Tahoma", serif;
    font-size: 20px;
    line-height: 24px;
    color: #626262;
    background-color: #fff;
    border: 1px solid #626262;
    cursor: pointer;
}