$main-font-stack: "Roboto", "Arial", "Tahoma", sans-serif;
$kaushan-font-stack: 'Kaushan Script', 'Arial', 'Tahoma', cursive;
$main-white-color: #fff;
$main-yellow-color: #fce38a;
$main-orange-color: #f38181;
$main-text-color: #999;
$section-text-color: #333;
