.site-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Montserrat', 'Arial', 'Tahoma', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
